<h1>Editing <%= @genre.name%> Genre</h1>

<%= render "form", genre: @genre %>

<%= link_to "Cancel", genres_path, class: "btn btn-outline-primary", style: "width: 100%; max-width: 503px; margin-top: 8px" %>