<h1>Editing <%= @review.user.name %>'s Review for <%= link_to @movie.title, @movie%></h1>

<%= render "form", movie: @movie, review: @review %>

<%= link_to "Cancel", movie_reviews_path(@movie), class: "btn btn-outline-primary", style: "width: 100%; max-width: 503px; margin-top: 8px" %>